
@{
    ViewBag.Title = "ObtainedCoScholastic";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    /* Sticky headers */
    .fixTableHead thead th {
        position: sticky;
        top: 0;
        background-color: #f0f0f0;
        z-index: 2;
    }

    /* Sticky second column */
    .sticky-column {
        position: sticky;
        left: 0;
        background-color: #fff; /* Change to your desired background color */
        z-index: 1;
    }

    /* Other CSS remains unchanged */

    table {
        border-collapse: collapse;
        width: 100%;
        /* Add a specific height to the table container */
        height: 500px;
    }

    th,
    td {
        padding: 8px 15px;
        border: 2px solid #529432;
    }

    th {
        background: #f0f0f0;
    }

    /* Add a specific height to the container for sticky scrolling */
    .fixTableHead {
        overflow-y: scroll;
        height: 500px;
    }

    .select2-container .select2-selection--single {
        height: 34px !important;
    }

    .select2-container--default .select2-selection--single {
        border: 1px solid #ccc !important;
        border-radius: 0px !important;
    }
</style>

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<div class="right_col" role="main">
    <div class="row">
        <!-- row started -->
        <h2>Obtained CoScholastic</h2>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                @*<h4 class="std_head well-sm"> Staff Information Form</h4>*@
                <div class="tab-content tab_sis">
                    <div class="tab-pane fade in active" id="add">
                        <div class="row">

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Select Staff :</label>

                                    <select class="form-control select2 " id="Staff_Id" name="Staff_Id">
                                        <option value="0">---Select Staff---</option>
                                        @foreach (var item in ViewBag.Staff as IEnumerable<SchoolManagement.Data.Models.StafsDetails>)
                                        {
                                            <option value="@item.StafId">@item.Name</option>
                                        }

                                    </select>

                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Class :</label>
                                    <select class="form-control select2 " id="ClassID" name="ClassID">
                                        <option value="0">---Select Class---</option>


                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Section :</label>
                                    <select class="form-control  select2" id="SectionId" name="SectionId">
                                        <option value="0">---Select Section---</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="row">

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Term :</label>
                                    <select class="form-control select2 " id="TermID" name="TermID">
                                        <option value="0">---Select Term---</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                @* <div class="form-group ">
                                       <label class="control-label">CoScholastic :</label>

                                        <select class="form-control " id="CoScholasticID" name="CoScholasticID">
                                            <option>---Select CoScholastic---</option>
                                        </select>

                                    </div>*@
                                <div class="form-group">
                                    <label>Batch :</label>
                                    <select class="form-control select2 " id="BatchID" name="BatchID">
                                        <option value="0">---Select Batch---</option>
                                        @foreach (var item in ViewBag.Batch as IEnumerable<SchoolManagement.Website.Models.Tbl_Batches>)
                                        {
                                            <option value="@item.Batch_Id">@item.Batch_Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form- " style="text-align:center;top: 24px;">
                                    <button type="button" class=" btn btn-success " id="BtnShowCoScholastic" style="width:100%">Show</button>
                                </div>
                            </div>


                        </div>
                        <hr />

                        <div class="table-responsive fixTableHead">
                            <table class="table table-bordered " id="TableCoScholastic">
                                <thead>
                                    <tr id="headerRow">
                                        <th>S.No</th>
                                        <th style="z-index:100">Student Name</th>
                                    </tr>
                                </thead>
                                <tbody id="TableBody"></tbody>
                            </table>

                            <button class="btn btn-success pull-right" id="SaveButton">Save</button>


                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<!--Clear All redio button Modal -->
<div id="confirmationModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmation</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to clear all radio buttons for this student?</p>
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-info" data-bs-dismiss="modal">No</button>*@
                <button type="button" class="btn btn-info" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" id="confirmClearBtn">Yes</button>
            </div>
        </div>
    </div>
</div>



@*@section scripts{
    <script src="~/Scripts/DevelopmentJS/ObtainedCoScholastic.js"></script>
}*@
<script>


    function getClassData(staffId) {
        // Make an AJAX request to the controller method
        $.ajax({
            url: '/Exam/GetStaffClass', // Replace with the actual URL of your controller method
            type: 'GET',
            data: { staffId: staffId },
            success: function (data) {
                // Populate the class select box with the retrieved data
                var classSelect = $('#ClassID');
                classSelect.empty();
                classSelect.append('<option  value="0">---Select Class---</option>');
                $.each(data, function (index, item) {
                    classSelect.append('<option value="' + item.DataListItemId + '">' + item.DataListItemName + '</option>');
                });
            },
            error: function () {
                // Handle error if any
            }
        });
    }

    function getSectionData(staffId, classId) {
        // Make an AJAX request to the controller method
        $.ajax({
            url: '/Exam/GetClassSection', // Replace with the actual URL of your controller method
            type: 'GET',
            data: { staffId: staffId, classId: classId },
            success: function (data) {
                // Populate the class select box with the retrieved data
                var classSelect = $('#SectionId');
                classSelect.empty();
                classSelect.append('<option value="0">---Select Section---</option>');
                $.each(data, function (index, item) {
                    classSelect.append('<option value="' + item.DataListItemId + '">' + item.DataListItemName + '</option>');
                });
            },
            error: function () {
                // Handle error if any
            }
        });
    }
    //Obtained Marks
    function getTestData(classId, termId) {
        // Make an AJAX request to the controller method
        $.ajax({
            url: '/Exam/CoScholasticByClassId', // Replace with the actual URL of your controller method
            type: 'GET',
            data: { classId: classId, termId: termId },
            success: function (data) {
                // Populate the class select box with the retrieved data
                var TestIdSelect = $('#CoScholasticID');
                TestIdSelect.empty();
                TestIdSelect.append('<option value="0">---Select CoScholastic---</option>');
                $.each(data, function (index, item) {
                    TestIdSelect.append('<option value="' + item.Id + '">' + item.Title + '</option>');
                });
            },
            error: function () {
                // Handle error if any
            }
        });
    }

    //Get Terms Marks
    function getTermData() {
        // Make an AJAX request to the controller method
        $.ajax({
            url: '/Exam/TermsData', // Replace with the actual URL of your controller method
            type: 'GET',
            success: function (data) {
                // Populate the class select box with the retrieved data
                var TestIdSelect = $('#TermID');
                TestIdSelect.empty();
                TestIdSelect.append('<option value="0">---Select Term---</option>');
                $.each(data, function (index, item) {
                    TestIdSelect.append('<option value="' + item.TermID + '">' + item.TermName + '</option>');
                });
            },
            error: function () {
                // Handle error if any
            }
        });
    }
    $(document).ready(function () {

        $('.select2').select2();

        var dataTable;
        $('#Staff_Id').change(function () {
            var selectedOptionId = $(this).val();
            getClassData(selectedOptionId); // Call your function and pass the selected option ID as a parameter
        });

        $('#ClassID').change(function () {
            var selectedOptionId = $(this).val();
            var selectedStaffId = $('#Staff_Id').val();
            getSectionData(selectedStaffId, selectedOptionId); // Call your function and pass the selected option ID as a parameter
        });


        $('#SectionId').change(function () {
            var selectedOptionId = $(this).val();
            getTermData(); // Call your function and pass the selected option ID as a parameter
        });

        $("#BtnShowCoScholastic").on('click', function () {
            //debugger
            var classid = $("#ClassID").val();
            var sectionid = $("#SectionId").val();
            var termid = $("#TermID").val();
            var batchid = $("#BatchID").val();
            var grades = ['A', 'B', 'C', 'D'];
            var fields = [
                { id: "#Staff_Id", name: "Staff" },
                { id: "#ClassID", name: "Class" },
                { id: "#SectionId", name: "Section" },
                { id: "#TermID", name: "Term" },
                { id: "#BatchID", name: "Batch" }
            ];
            var missingField = "";
            //if ($("#BatchID").val() != 0) {
            //    if ($("#TermID").val() == 0) {
            //        alert("Please select a term.");
            //    }
            //} else {
                for (var i = 0; i < fields.length; i++) {
                    var fieldValue = $(fields[i].id).val();
                    if (fieldValue === '0') {
                        missingField = fields[i].name;
                        break;
                    }
                }
            //}
            if (missingField !== "") {
                alert("Please select a " + missingField + ".");
            }
            else {
                $.ajax({
                    url: "/Exam/CoScholasticStudentByClassSection",
                    type: "GET",
                    dataType: "json",
                    //contentType: "application/json;charset=UTF-8",
                    data: { classId: classid, sectionId: sectionid, termId: termid, batchId: batchid }, //
                    success: function (result) {
                        $("#TableBody").empty();
                        var row = "";

                        var headerRow = $("#headerRow");
                        // Remove previously added dynamic headers (if any)
                        $("#TableCoScholastic .dynamic-header").remove();

                        $.each(result.HeaderData, function (index, header) {
                            var th = $("<th>").text(header.Title).addClass("dynamic-header");

                            headerRow.append(th);
                        });
                        // Add the action column header
                        var actionHeader = $("<th>").text("Action").addClass("dynamic-header");
                        headerRow.append(actionHeader);

                        var tableBody = $("#TableBody");
                        var serialNumber = 1;
                        $.each(result.data, function (index, student) {
                            var row = $("<tr>");
                            // row.append($("<td>").text(student.StudentId));
                            var studentIdCell = $("<td>", {
                                text: serialNumber,
                                name: student.StudentId  // Replace "studentId" with the desired name
                            });
                            row.append(studentIdCell);
                            row.append($("<td>").text(student.StudentName));
                            // Create dynamic radio buttons for each grade
                            $.each(student.coscholastiStuentObtDatas, function (index, header) {

                                var td = $("<td>");
                                td.addClass('TbHeade');
                                td.css("width", "100%");
                                td.css("white-space", "nowrap");
                                td.css("overflow", "hidden");
                                $.each(grades, function (i, grade) {

                                    var radioBtn = $("<input>").attr({
                                        type: "radio",
                                        name: "grade>" + header.CoscholasticName + ">" + header.CoscholasticID + ">" + student.StudentId,
                                    }).val(grade);

                                    radioBtn.css("margin-right", "5px")
                                    if (header.ObtainedGrade === grade) {
                                        radioBtn.attr('checked', 'checked');
                                    }
                                    var label = $("<label>").text(grade).prepend(radioBtn);
                                    label.css("margin-right", "8px");
                                    label.css("display", "inline-block");
                                    label.css("width", "30px");
                                    label.css("text-align", "center");

                                    // Attach click event handler to each radio button
                                    //radioBtn.on('click', function () {
                                    //    uncheckOtherOptions(header.CoscholasticID, student.StudentId);
                                    //});
                                    radioBtn.on('dblclick', function () {
                                        $(this).prop('checked', false);
                                    });

                                    td.append(label);
                                });
                                row.append(td);
                            });



                            // Add Action button cell
                            var actionBtnCell = $("<td>");
                            var clearBtn = $("<button>").text("Clear All").addClass("btn btn-warning");

                            // Attach click event handler to the "Clear All" button
                            clearBtn.on('click', function () {
                                // Show the confirmation modal
                                $('#confirmationModal').modal('show');
                                // Save the row for later use in the modal
                                var currentRow = $(this).closest('tr');
                                $('#confirmationModal').data('row', currentRow);
                            });
                            // Attach click event handler to the "Yes" button in the confirmation modal
                            $('#confirmClearBtn').on('click', function () {
                                
                                // Get the row saved in the modal
                                var currentRow = $('#confirmationModal').data('row');
                                // Clear all radio buttons in the row
                                currentRow.find("input[type='radio']").prop("checked", false);
                                // Hide the confirmation modal
                                $('#confirmationModal').modal('hide');
                            });

                            actionBtnCell.append(clearBtn);
                            row.append(actionBtnCell);

                            //// Attach click event handler to the clear button
                            //clearBtn.on('click', function () {
                            //    var confirmed = confirm("Are you sure you want to clear all radio buttons for this student?");
                            //    if (confirmed) {
                            //        row.find("input[type='radio']").prop("checked", false);
                            //    }
                            //});

                            tableBody.append(row);



                            serialNumber++;
                        });
                        if (result.IsUpdate) {
                            $("#SaveButton").text("Update")
                        }
                        // $("#TableCoScholastic").DataTable().destroy();

                        if ($.fn.dataTable.isDataTable('#TableCoScholastic')) {
                            dataTable = $('#TableCoScholastic').DataTable();
                        }
                        else {
                            dataTable = $('#TableCoScholastic').DataTable({
                                paging: false
                            });
                        }
                        const table = document.getElementById('TableCoScholastic');
                        const secondColumnCells = table.querySelectorAll('tr > :nth-child(2)');
                        secondColumnCells.forEach((cell) => {
                            cell.classList.add('sticky-column');
                        });


                    },
                    error: function (errormessage) {
                        alert(errormessage.responseText);
                    }
                });

            }
        });



        // Save button click event handler
        $('#SaveButton').click(function () {
            //debugger

            var selectedClassId = $('#ClassID').val();// Get the selected class ID
            var selectedTermId = $('#TermID').val();// Get the selected class ID
            var selectedSectionId = $('#SectionId').val();// Get the selected class ID
            var selectbatchId = $('#BatchID').val();
            let dataRecord = [];

            $("#TableCoScholastic tbody tr").each(function () {
                let rowData = {
                    StudentID: parseInt($(this).find("td:eq(0)").attr("name")),// $(this).find("td:eq(0)").text(),
                    StudentName: $(this).find("td:eq(1)").text(),
                    Grades: getGradesForRow($(this))
                };

                dataRecord.push(rowData);
            });

            console.log(dataRecord);
            let tableData = [];
            $("#TableCoScholastic tbody tr").each(function () {
                //let rowData = {
                //    StudentId: $(this).find("td:eq(0)").text(),
                //    StudentName: $(this).find("td:eq(1)").text(),
                //    Grades: {}
                //};

                let rowData = {
                    StudentID: parseInt($(this).find("td:eq(0)").attr("name")),
                    ClassID: selectedClassId, // Replace with the appropriate class ID
                    SectionId: selectedSectionId, // Replace with the appropriate SectionId ID
                    TermID: selectedTermId,   // Replace with the appropriate term ID
                    BatchId: selectbatchId,
                    CoscholasticData: []
                };

                //$(this).find("td.TbHeade").each(function () {
                //    let headerText = $(this).closest("tr").find("th").eq($(this).index()).text();
                //    let selectedGrade = $(this).find("input[type=radio]:checked").val() || "";
                //    let selectedRadio = $(this).find("input[type=radio]")
                //    let nameValue = selectedRadio.attr("name");
                //    let splitValues = nameValue.split("-");
                //    let headerTitle = splitValues[1];
                //    let headerId = splitValues[2];
                //    let obtainedGrade = {
                //        Id: 0, // Replace with the appropriate ID if required
                //        ObtainedCoScholasticID: 1, // Replace with the appropriate CoScholastic ID
                //        ObtainedGrade: selectedGrade
                //    };

                //    rowData.CoscholasticData.push(obtainedGrade);
                //});

                $(this).find("td.TbHeade").each(function () {
                    //    let selectedGrade = $(this).find("input[type=radio]:checked").val() || "";
                    //    let selectedRadio = $(this).find("input[type=radio]:checked");
                    //    $(this).find("input[type=radio]").each(function () {
                    //        let nameValue = $(this).attr("name");
                    //        let splitValues = nameValue.split("-");
                    //        let headerId = splitValues[2];

                    //        let obtainedGrade = {
                    //            Id: 0, // Replace with the appropriate ID if required
                    //            ObtainedCoScholasticID: headerId,
                    //            ObtainedGrade: selectedGrade
                    //        };

                    //        rowData.CoscholasticData.push(obtainedGrade);
                    //    });
                    //});

                    let selectedradio = $(this).find("input[type=radio]:checked");
                    if (selectedradio.length > 0) {
                        // if a radio button is selected
                        let namevalue = selectedradio.attr("name");
                        let splitvalues = namevalue.split(">");
                        let headertitle = splitvalues[1];
                        let headerid = splitvalues[2];
                        let studentid = splitvalues[3];
                        let selectedgrade = selectedradio.val();
                        //let batchId = selectbatchId;
                        let obtainedGrade = {
                            Id: 0, // replace with the appropriate id if required
                            CoscholasticID: headerid,
                            ObtainedGrade: selectedgrade
                        };

                        rowData.CoscholasticData.push(obtainedGrade);
                    } else {
                        // if no radio button is selected, use the header id of the first radio button
                        let firstradio = $(this).find("input[type=radio]").first();
                        let namevalue = firstradio.attr("name");
                        let splitvalues = namevalue.split(">");
                        let headerid = splitvalues[2];

                        let obtainedGrade = {
                            Id: 0, // replace with the appropriate id if required
                            CoscholasticID: headerid,
                            ObtainedGrade: "" // empty string for unselected radio buttons
                        };

                        rowData.CoscholasticData.push(obtainedGrade);
                    }
                });

                tableData.push(rowData);
            });
            // Make an AJAX request to the controller method
            $.ajax({
                url: '/exam/InsertUpdateCoScholasticObtainedMarks', // Replace with the actual URL of your controller method
                type: 'post',
                data: JSON.stringify({
                    rowData: tableData
                }),
                contentType: 'application/json',
                success: function (response) {
                    // Handle success response
                    if (response.success == false) {
                        alert(response.errormsg);
                    } else {
                        alert("Marks recorded successfully.");
                        window.location.reload();
                    }
                },
                error: function () {
                    // Handle error if any
                    alert("An error occurred while submitting data.");
                }
            });
        });

        // Helper function to get the selected grades for a row
        function getGradesForRow(row) {
            let grades = {};
            row.find("td.TbHeade").each(function () {
                let subject = $(this).prevAll("th").length; // Get the index of the column header
                let selectedGrade = $(this).find("input[type=radio]:checked").val();
                grades["Subject" + subject] = selectedGrade ? selectedGrade : "D";
            });
            return grades;
        }
    });


</script>