@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="right_col" role="main">
    <div class="row">
        <!-- row started -->
        <div class="col-md-12 col-sm-12 col-xs-12">
            <!-- col-msx-12 started -->
            <div class="dashboard_graph">
                <div class="row x_title">
                    <!--row x_title started -->
                    <div class="col-sm-12">
                        <!-- col-sm-12 started -->
                        <div class="col-sm-6">
                            <h4>  Add Subject  &nbsp;<i class="fa fa-forward"></i></h4>
                        </div>
                        <div class="col-sm-6">
                            @*<button class="btn btn-info pull-right"><a href="#" class="button_a">Add New</a></button>
                                <button class="btn btn-danger pull-right"><a href="#" class="button_a">Manage</a></button>*@
                        </div>


                    </div><!-- col-sm-12 closed -->
                </div><!--row x_title closed -->
            </div><!-- dashboard_graph closed-->
        </div><!--col-msx-12 closed-->
        <div class="col-sm-12" style="margin-top: 15px;">
            <form action="/Master/AddSubjectName" id="SubjectSetupForm" enctype="multipart/form-data" method="post">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="hidden" id="Subject_ID" name="Subject_ID" />
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Add New Subject :</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="Subject_Name" name="Subject_Name" maxlength="100">
                        </div>
                    </div>
                    <div class="col-sm-8" style="margin-top:20px;">
                        <button type="submit" class="btn btn-success pull-right" id="Subjectsave">Save</button>
                        <button type="button" class="btn btn-success pull-right" id="BtnClear" onclick="ClearData()">Clear</button>
                    </div>
                </div>

            </form>
            <div class="col-md-12 col-sm-12 col-xs-12 table-responsive border-bottom">


                <table class="table table-bordered " id="SubjectTable" style="margin-top:10px">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Subject Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 1;
                            foreach (var item in ViewBag.SubjectName as IEnumerable<SchoolManagement.Website.Models.Tbl_SubjectsSetup>)
                            {
                                <tr>
                                    <td>@i</td>
                                    <td>@item.Subject_Name</td>
                                    <td>
                                        <button type="button" class="btn btn-info DepartmentEdit" data-val="@item.Subject_ID">Edit</button>
                                        <button type="button" class="btn btn-info DepartmentDelete" data-val="@item.Subject_ID">Delete</button>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div><!-- 1st row closed -->
</div>

@section scripts{

    @*<script>

            $(document).ready(function () {
                alert();
                GetDepartmentTable();

            });
            function GetDepartmentTable() {
                
                $("#DepartmentTable").DataTable().destroy();

                datatable = $("#DepartmentTable")
                    .DataTable({
                        "sAjaxSource": "/Master/GetAllDepartmentlist",
                        "retrieve": true,
                        "bServerSide": true,
                        "bProcessing": true,
                        "bSearchable": false,
                        "order": [[1, 'asc']],
                        "autoWidth": false,
                        "columns": [
                            {
                                "data": "DepartmentName",
                                "autoWidth": false,
                                "width": "200px",
                                "searchable": true
                            },

                            {
                                "data": "Gallery_Id",
                                "searchable": true,
                                "render": function (data, type, row) {
                                    if (data != null && data != '') {
                                        return '<button type="button"><i style = "font-size:12px; color:#39b2e1; cursor:pointer;"data-val="' + data + '" class="fa fa-edit DepartmentEdit"onclick=UpdateDepartment(' + data + ')></i></button><button><i style="font-size:12px; color:#29b2e1; cursor:pointer;"data-val="' + data + '"class = "fa fa-trash-o DepartmentDelete" onclick = DeleteDepartment(' + data + ')></i></button>';
                                    }
                                }
                            }

                        ]
                    });

            }

        </script>*@

    <script>

        $("#SubjectTable").DataTable();

        $(".DepartmentEdit").on('click', function () {
            $("#SubjectSetupForm").attr('action', '/Master/UpdateSubject');
            var id = $(this).attr("data-val");

            $("#Subjectsave").text("Update");
            GetSubjectNameById(id);
        });

        function GetSubjectNameById(id) {
            $.ajax({
                url: "/Master/GetSubjectNameById?id=" + id,
                type: "GET",
                dataType: "json",
                contentType: "application/json;charset=UTF-8",
                success: function (result) {

                    if (result != null) {
                        $("#Subject_ID").val(result.DepartmentId);
                        $("#Subject_Name").val(result.DepartmentName);
                    }
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }

            });
        }


        $(".DepartmentDelete").on('click', function () {
            var id = $(this).attr("data-val");
            if (confirm("Do You Want to Delete?")) {
                window.location.href = "/Master/DeleteSubjectName?id=" + id;
            }
        });


        function ClearData() {
            var cnf = confirm("Are You Sure, You Want to Clear all the data?");
            if (cnf == true) {
                $("#Subject_ID").val('');
                $("#Subject_Name").val('');


                $("#SubjectSetupForm").attr('action', '/Master/AddSubjectName');
                $("#Subjectsave").text("Save");

            }
        }


       

    </script>



}