
@{
    /**/

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="right_col" role="main">
    <div class="row">
        <!-- row started -->
        <div class="col-md-12 col-sm-12 col-xs-12">
            <!-- col-msx-12 started -->
            <div class="dashboard_graph">
                <div class="row x_title">
                    <!--row x_title started -->
                    <div class="col-sm-12">
                        <!-- col-sm-12 started -->
                        <div class="col-sm-6">
                            <h4>  Religion Setup  &nbsp;<i class="fa fa-forward"></i></h4>
                        </div>
                        <!--<div class="col-sm-6">
                        <button class="btn btn-info pull-right"><a href="sis_add_new_teacher.html" class="button_a">Add New</a></button>
                         <button class="btn btn-danger pull-right"><a href="sis_manage_teacher.html" class="button_a">Manage</a></button>
                          </div>-->


                    </div><!-- col-sm-12 closed -->
                </div><!--row x_title closed -->
            </div><!-- dashboard_graph closed-->
        </div><!--col-msx-12 closed-->
        <div class="col-sm-12" style="margin-top: 15px;">
            <h4 class="std_head well-sm">Religion Setup </h4>
            <form action="/Master/AddReligion" method="post" id="ReligionForm" enctype="multipart/form-data">

                <div class="col-sm-3"></div>
                <div class="col-sm-7">
                    <div class="form-group">
                        <input type="hidden" id="Religion_Id" name="Religion_Id" />
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Religious :</label>

                        <input type="text" id="Religion_Name" name="Religion_Name" class="form-control" />
                    </div>

                    <div class="col-sm-8" style="margin-top:20px;">
                        <button type="button" class="btn btn-success pull-right" id="BtnClear" onclick="ClearData()">Clear</button>
                        <button type="submit" class="btn btn-success pull-right" id="BtnSaveReligion">Save</button>
                    </div>
                </div>

            </form>

            <div class="col-md-12 col-sm-12 col-xs-12 table-responsive border-bottom">
                <!-- col-msx-12 started -->
                <table class="table table-bordered" id="tblReligion" style="margin-top:5px;">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Religion</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 1;
                            foreach (var item in ViewBag.ReligionLIst as IEnumerable<SchoolManagement.Website.Models.Tbl_Religion>)
                            {
                                <tr>
                                    <td>@i</td>
                                    <td>@item.Religion_Name</td>

                                    <td>
                                        <button type="button" class="btn btn-info ReligionEdit" data-val="@item.Religion_Id">Edit</button>
                                        <button type="button" class="btn btn-success ReligionDelete" data-val="@item.Religion_Id">Delete</button>
                                    </td>
                                </tr>
                                i++;
                            }

                        }
                    </tbody>
                </table>
            </div>

        </div>


    </div><!-- 1st row closed -->





</div>
@section Scripts{

    <script>
        $("#tblReligion").DataTable();

        $(".ReligionEdit").on("click", function () {
            
            $("#ReligionForm").attr('action', "/Master/UpdateReligion");
            var id = $(this).attr("data-val");

            $("#BtnSaveReligion").text("Update");
            GetReligionById(id);

        });

        function GetReligionById(id) {
            $.ajax({
                url: "/Master/GetReligionById?id=" + id,
                type: "GET",
                datatype: "json",
                contentType: "application/json;charset=UTF-8",
                success: function (result) {
                    
                    if (result != null) {
                        $("#Religion_Id").val(result.Religion_Id);
                        $("#Religion_Name").val(result.Religion_Name);



                    }
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }


        $(".ReligionDelete").on("click", function () {
            var id = $(this).attr("data-val");
            if (confirm("Do You Want to Delete?")) {
                window.location.href = "DeleteReligion?id=" + id;
            }
        });

        function ClearData() {
            
            var cnf = confirm('Are you sure, you want to clear all the data?');

            if (cnf == true) {
                $("#Religion_Id").vals('');
                $("#Religion_Name").val('');

                $("#ReligionForm").attr('/Master/AddReligion');
                $("#BtnSaveReligion").text("save");
            }

        }



    </script>



}