@{
    ViewBag.Title = "Fee Reports By Class";
}
<link href="~/Content/DropDownSelect2/dist/css/select2.min.css" rel="stylesheet" />
<!-- page content -->
<div class="right_col" role="main">
    <div class="row">
        <!-- row started -->
        <div class="col-sm-12">
            <!-- col-msx-12 started -->
            <div class="dashboard_graph">
                <div class="row x_title">
                    <!--row x_title started -->
                    <div class="col-sm-12">
                        <!-- col-sm-12 started -->
                        <div class="col-sm-12">
                            <h4> View Outstanding Fee By Class  &nbsp;<i class="fa fa-forward"></i></h4>
                        </div>

                        <div class="col-sm-12" style="margin-top: 15px;">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    @*@Html.DropDownList("Semester", ViewBag.Classes as SelectList, "Select", new { @class = "form-control" })*@
                                    <select id="Semester" class="form-control">
                                        @{
                                            foreach (var item in ViewBag.Classes as IEnumerable<SchoolManagement.Data.Models.Tbl_DataListItem>)
                                            {
                                                <option value="@item.DataListItemId">@item.DataListItemName</option>
                                            }
                                        }
                                    </select>


                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group">
                                  
                                    <select id="Section" class="form-control">
                                        @{
                                            foreach (var item in ViewBag.Sections as IEnumerable<SchoolManagement.Data.Models.Tbl_DataListItem>)
                                            {
                                                <option value="@item.DataListItemId">@item.DataListItemName</option>
                                            }
                                        }
                                    </select>


                                </div>
                            </div>


                            @*<div class="col-sm-3">
                                <div class="form-group">
                                    <select id='Students' class="form-control"></select>
                                </div>
                            </div>*@


                            <div class="col-sm-3">
                                <div class="form-group">
                                    <button type="button" id="SearchBtn" class="btn btn-success ">Search</button>
                                    @*<input type="button" id="SearchBtn" value="Search" class="btn btn-success form-control" />*@
                                </div>
                            </div>
                        </div>

                    </div> <!-- dashboard_graph closed-->
                </div> <!--col-msx-12 closed-->
                <div class="col-sm-12">
                    <!-- col-msx-12 started -->
                    <button class="btn btn-warning " id="excelBtn">Excel Report</button>
                    <button class="btn btn-warning pull-right" id="printBtn">Print Report</button>
                </div> <!-- col-msx-12  closed -->
                <div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="PrintTbl">
                    <!-- col-msx-12 started -->
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Student Name</th>
                                <th>Scholar Number</th>
                                @*<th>Batch</th>*@
                                <th>Class</th>
                                <th>Total Amount</th>
                                <th>Paid Amount</th>
                                <th>Old Amount</th>
                                <th>Concession Amount</th>
                                <th>Due Amount</th>
                            </tr>
                        </thead>

                        <tbody id="StudentPaidDetails">
                        </tbody>
                    </table>
                </div><!-- col-msx-12  closed -->

            </div><!-- 1st row closed -->
        </div>  <!-- /page content -->
    </div>
</div>



@section scripts{
    <script src="~/Content/DropDownSelect2/dist/js/select2.min.js"></script>
    <script src="~/Scripts/printThis.js"></script>
    <script>
        $('#printBtn').on("click", function () {
            $('#PrintTbl').printThis();
            $("#Semester").select2({

            });
        });
        $('#excelBtn').on("click", function () {
            var table = $("#PrintTbl")[0].outerHTML;

            var excelFile =
                `<html xmlns:o="urn:schemas-microsoft-com:office:office" 
                      xmlns:x="urn:schemas-microsoft-com:office:excel" 
                      xmlns="http://www.w3.org/TR/REC-html40">
                <head>
                    <meta charset="UTF-8">
                    <style>
                        table {
                            border-collapse: collapse;
                            border: 1px solid black;
                        }
                        table th, table td {
                            border: 1px solid black;
                            padding: 5px;
                            text-align: left;
                        }
                    </style>
                </head>
                <body>
                    ${table}
                </body>
                </html>`;

            // Create a Blob object with the Excel content
            var blob = new Blob([excelFile], { type: "application/vnd.ms-excel" });

            // Create a temporary link to trigger the download
            var link = document.createElement("a");
            link.href = window.URL.createObjectURL(blob);
            link.download = "ExportedData.xls"; // Set file name
            link.click();
           
        });



    </script>
    <script type="text/javascript">
       // GetAllStudents();
        //GetAllBatch();
        //GetAllCourses();
        GetAllSemesters();

        $("#SearchBtn").on("click", function () {
            var scholarNumer = $("#Students option:selected").val();
            //var batch = $("#Batch option:selected").val();
            var semester = $("#Semester option:selected").val();
            var section = $("#Section option:selected").val();
            console.log("semester", semester);
            var inputData = {
                ScholarNumer: scholarNumer,
                //Batch: batch,
                Semester: semester,
                Section: section
            };
            $.ajax({
                url: "/Fee/GetStudentsFeeDetails",
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                data: JSON.stringify(inputData),
                success: function (response) {
                    //
                    $("#StudentPaidDetails").html("");
                    $("#StudentPaidDetails").html(response);
                    $("#Students").val('').trigger('change');
                    $("#Semester").val('').trigger('change');
                },
                error: function (er) {
                    //
                    alert(er+"1");
                }
            });
        });
        function GetAllStudents() {
            $.ajax({
                url: "/Student/GetAllStudents1",
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (response) {
                    if (response.length > 0) {
                        var allStudents = [];
                        var omObj = {};
                        $('#Students').html('').select2({ data: [{ id: '', text: '' }] });
                        allStudents.push({ id: '', text: '-- Select Student --' });
                        for (var i = 0; i < response.length; i++) {
                            allStudents.push({ id: response[i].StudentRegisterID, text: response[i].Name });
                        }
                        $("#Students").html('').select2({
                            data: allStudents
                        });
                    }
                },
                error: function (er) {
                    //
                    alert(er+"2");
                }
            });
        }
        function GetAllBatch() {
            $.ajax({
                url: "/Fee/GetAllBatch",
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (response) {
                    //
                    if (response.length > 0) {
                        var allBatches = [];
                        $('#Batch').html('').select2({ data: [{ id: '', text: '' }] });
                        allBatches.push({ id: '', text: '-- Select Batch --' });
                        for (var i = 0; i < response.length; i++) {
                            allBatches.push({ id: response[i].DataListItemName, text: response[i].DataListItemName });
                        }
                        $("#Batch").html('').select2({
                            data: allBatches
                        });
                    }
                },
                error: function (er) {
                    //
                    alert(er+"3");
                }
            });
        }
        function GetAllCourses() {
            $.ajax({
                url: "/Fee/GetAllCourses",
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (response) {
                    //
                    if (response.length > 0) {
                        var allCourses = [];
                        $('#Course').html('').select2({ data: [{ id: '', text: '' }] });
                        allCourses.push({ id: '', text: '-- Select Course --' });
                        for (var i = 0; i < response.length; i++) {
                            allCourses.push({ id: response[i].DataListItemId, text: response[i].DataListItemName });
                        }
                        $("#Course").html('').select2({
                            data: allCourses
                        });
                    }
                },
                error: function (er) {
                    //
                    alert(er+"4");
                }
            });
        }
        function GetAllSemesters() {
            $.ajax({
                url: "/Fee/GetAllSemesters",
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (response) {
                    //
                    if (response.length > 0) {

                        var allSemester = [];
                        $('#Semester').html('').select2({ data: [{ id: '', text: '' }] });
                        allSemester.push({ id: '', text: '-- Select Class --' });
                        for (var i = 0; i < response.length; i++) {
                            allSemester.push({ id: response[i].DataListItemId, text: response[i].DataListItemName });
                        }

                        $("#Semester").html('').select2({
                            data: allSemester
                        });
                    }
                },
                error: function (er) {
                    //
                    alert(er+"5");
                }
            });
        }

        $("#Semester").change(function () {
            var classid = this.value;
            if (classid == 0 || classid == "")
                return false;
            $.ajax({
                url: "/AdmissionFee/GetStudentByClass?classid=" + classid + '&Filtertype=1',
                type: "GET",
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    if (data.length > 0 && data != "Fail") {
                        var alldata = [];
                        $("#Students").html('').select2({ data: [{ id: '', text: '' }] });
                        alldata.push({ id: 0, text: "Select" });
                        for (var i = 0; i < data.length; i++) {
                            alldata.push({
                                id: data[i].StudentRegisterID, text: data[i].Name + " " + data[i].Last_Name
                            });
                        }
                        $("#Students").html('').select2({
                            data: alldata
                        });
                    }
                    else {
                        alert("There is no student Present in this class");
                        window.location.reload();
                    }
                }
            });
        });

    </script>
}
