
@{
    ViewBag.Title = "ManageDepartments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="right_col" role="main">
    <div class="row">
        <!-- row started -->
        <div class="col-md-12 col-sm-12 col-xs-12">
            <!-- col-msx-12 started -->
            <div class="dashboard_graph">
                <div class="row x_title">
                    <!--row x_title started -->
                    <div class="col-sm-12">
                        <!-- col-sm-12 started -->
                        <div class="col-sm-6">
                            <h4> Manage All Department  &nbsp;<i class="fa fa-forward"></i></h4>
                        </div>
                        <div class="col-sm-6">
                            <button class="btn btn-danger pull-right"><a href="#" class="button_a">Create Department</a></button>
                        </div>

                    </div><!--row x_title closed -->
                </div><!-- dashboard_graph closed-->
            </div><!--col-msx-12 closed-->

            <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
                <!-- col-msx-12 started -->
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Department Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div><!-- col-msx-12  closed -->
        </div><!-- 1st row closed -->

    </div>  <!-- /page content -->

</div>

@section Scripts{
    <script>
         
    </script>
    }