
@{
    ViewBag.Title = "RegisterSchools";
}


<div class="right_col" role="main">
    <div class="row">
        <div class="col-sm-12">
            <h4 class="std_head well-sm">Create School Login</h4>
            <form method="post" id="dataListform" enctype="multipart/form-data">
                <div class="col-sm-12" style="border-right: 1px solid #eee;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>User Name: <span style="color:red">*</span></label>
                            <input type="text" id="Username" name="Username" class="form-control" required /><br />
                        </div>
                        <div class="form-group">
                            <label>Password:<span style="color:red">*</span> </label>
                            <input type="password" id="Pass" name="Password" class="form-control" required />
                        </div>
                        <div class="form-group">
                            <label>Email:<span style="color:red">*</span></label>
                            <input type="email" id="email" name="Email" class="form-control" required />
                        </div>
                        <div class="form-group">
                            <label>Phone Number</label>
                            <input type="text" id="phoneno" name="Phoneno" class="form-control" />
                        </div>
                        <div class="form-group">
                            <button type="submit" id="btnsubmit" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                </div><!-- col-sm-6 closed -->
            </form>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12 table-responsive border-bottom">
            <!-- col-msx-12 started -->
            <table class="table table-bordered" id="TblDataList" style="margin-top:5px;">
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>UserName</th>
                        <th>Password</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    @{ 
                        int i = 1;
                        foreach(var item in ViewBag.Admindata as IEnumerable<SchoolManagement.Data.Models.Tbl_UserManagement>)
                        {
                            <tr>
                                <td>@i</td>
                                <td>@item.UserName</td>
                                <td>@item.Password</td>
                                <td>@item.Email</td>
                            </tr>
                            i++;
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>




@section scripts{

    <script>

        $(document).ready(function () {
            $("#TblDataList").DataTable();
        });

        $("#btnsubmit").on("click", function () {
            var schoolLoginviewmodel = {};
            var username = $("#Username").val();
            var password = $("#Pass").val();
            var email = $("#email").val();
            var phoneno = $("#phoneno").val();

            if (username == null || username == "" || password == null || password == "" || email == null || email == "") {
                alert("Please Fill All the Details");
            }
            else {
                $("#dataListform").attr("action", "/UserCredentials/AddSchoolLogin");
            }

           
        });
    </script>

}