 <!-- footer content -->

<footer>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <p>
            <span class="pull-left">&nbsp;&nbsp; &nbsp; Copyright &copy; All rights reserved.</span>
            <span class="pull-right">
                Designed by
                <a href="http://www.iroots.in" target="_blank" style="margin-right:10px;">Iroots </a>
            </span>
        </p>
    </div>
    <div class="clearfix"></div>
</footer>
<!-- /footer content -->