@using SchoolManagement.Website.Controllers;
@using SchoolManagement.Website.Models;
@{ 
    int i = 0;
    var studentlist = ViewBag.StudentList;
}


    @for( i = 0; i <= studentlist.Count / 3; i++)
    {
        <div class="row" style="margin:15px">
            @for(int j = 0; j <= 2; j++)
            {
                int count = i * 3 + j;
                if(count < studentlist.Count)
                {
                    var student = studentlist[count];
                    var image = !string.IsNullOrEmpty(student.ProfileAvatar) ? student.ProfileAvatar : "";
                    <div class="col-md-4">
                        <a href='/Student/FullStudentView?id=@student.StudentRegisterID'>
                            <div class="row" style="margin:5px;border:1px solid black;height:100px">
                                <div class="col-md-4" style="margin-top:10px">
                                    @if (image == "")
                                    {
                                        <img style="max-width:75px; max-height: 79px;" src="~/Image/Logo/NoImage.jpg" />

                                    }
                                    else
                                    {
                                        <img style="max-width:75px; max-height: 79px;" src="~/WebsiteImages/StudentPhoto/@student.ProfileAvatar" />

                                    }
                                </div>
                                <div class="col-md-8" style="margin-top:5px;margin-bottom:5px">
                                    <p>@student.Name</p>
                                    <p>@student.DOB</p>
                                    <p>@student.Class</p>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            }
        </div>
    }

