
@{
    ViewBag.Title = "StudentDetails";
}
<!-- page content -->
<div class="right_col" role="main">
    <div class="row">
        <!-- row started -->
        <div class="col-md-12 col-sm-12 col-xs-12">
            <!-- col-msx-12 started -->
            <div class="dashboard_graph">
                <div class="row x_title">
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <h4> Full View of Student  &nbsp;<i class="fa fa-forward"></i></h4>
                        </div>
                        <div class="col-sm-6">
                            <button class="btn btn-info pull-right"><a href="sis_view_all_students.html" class="button_a">View All Students </a></button>
                            <button class="btn btn-danger pull-right"><a href="sis_manage_student.html" class="button_a">Manage Student</a> </button>
                        </div>
                    </div>
                </div>
            </div><!-- dashboard_graph closed-->
        </div><!--col-msx-12 closed-->
        <div class="col-md-12 col-sm-12 col-xs-12">
            <!-- col-msx-12 started -->
            <h4 class="std_head well-sm"> Student Information</h4>
            <div class="col-sm-12" style="border-bottom: 1px solid #E6E9ED;">
                <!-- col-sm-12 started -->
                <div class="col-sm-5">
                    <div class="form-group">
                        <label class="control-label col-sm-5">Name </label>
                        <div class="col-sm-7">
                            <p style="font-weight:bold;"><span>:</span> Ravi Kumar.G</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-5">Grade </label>
                        <div class="col-sm-7">
                            <p style="font-weight:bold;"><span>:</span> 5th std</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-5">Section  </label>
                        <div class="col-sm-7">
                            <p style="font-weight:bold;"><span>:</span> A</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-5">Application No </label>
                        <div class="col-sm-7">
                            <p style="font-weight:bold;"><span>:</span> IS1542015</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-5">Date </label>
                        <div class="col-sm-7">
                            <p style="font-weight:bold;"><span>:</span> 8/31/2015</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-success pull-left"><a href="sis_view_particular_student_attendence.html" class="button_a">Attendance</a></button>
                    <button class="btn btn-success pull-left" style="width: 98px;"><a href="sis_view_particular_student_accounts.html" class="button_a">Accounts</a> </button>
                </div>
                <div class="col-sm-3"></div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="control-label col-sm-3" style="padding: 0;">UIN :</label>
                        <div class="col-sm-9" style="padding: 0;margin:0;">
                            <p style="padding: 0;margin:0;">SATS1542015</p>
                        </div>
                    </div>
                    <img src="~/WebsiteImages/images/1.jpg" alt="Affix recent passport size <br/> photograph of student." style="width:100%;margin-bottom:10px;" class="img-thumbnail" />
                </div>
            </div><!-- col-sm-12 closed -->
            <div class="col-sm-12 table-responsive" style="border-bottom: 1px solid #E6E9ED;">
                <!-- col-sm-12 started -->
                <h4 class="std_head well-sm"> Student Details</h4>
                <div class="col-sm-6 table-responsive" style="border-right: 1px solid #eee;">
                    <!-- col-sm-6 started -->

                    <table class="table table-bordered">
                        <tr>
                            <td class="full_h">Name </td>
                            <td class="full_d">Ravi</td>
                        </tr>
                        <tr>
                            <td class="full_h">Gender </td>
                            <td class="full_d">Male</td>
                        </tr>
                        <tr>
                            <td class="full_h">Age in words </td>
                            <td class="full_d">Fourteen years</td>
                        </tr>
                        <tr>
                            <td class="full_h"> Date of Birth </td>
                            <td class="full_d">10-5-2001</td>
                        </tr>
                        <tr>
                            <td class="full_h">Place of Birth </td>
                            <td class="full_d">Bangalore</td>
                        </tr>
                        <tr>
                            <td class="full_h">Nationality   </td>
                            <td class="full_d">Indian</td>
                        </tr>
                        <tr>
                            <td class="full_h">Religion  </td>
                            <td class="full_d">Hindu</td>
                        </tr>
                        <tr>
                            <td class="full_h">Mother tongue</td>
                            <td class="full_d">Hindi</td>
                        </tr>
                    </table>
                </div><!-- col-sm-6 closed -->
                <div class="col-sm-6 table-responsive">
                    <!-- col-sm-6 started -->
                    <table class="table table-bordered">
                        <tr>
                            <td class="full_h">Cast </td>
                            <td class="full_d">OBC</td>
                        </tr>
                        <tr>
                            <td class="full_h">Blood Group  </td>
                            <td class="full_d">o+</td>
                        </tr>
                        <tr>
                            <td class="full_h">Medical History  </td>
                            <td class="full_d">No problems</td>
                        </tr>
                        <tr>
                            <td class="full_h">Hobbies  </td>
                            <td class="full_d">Watching movies, reading books,playing volley ball,running</td>
                        </tr>
                        <tr>
                            <td class="full_h">Sports </td>
                            <td class="full_d">Cricket,Volleyball,Running</td>
                        </tr>
                        <tr>
                            <td class="full_h">Any other details </td>
                            <td class="full_d">Will be coming soon</td>
                        </tr>
                    </table>
                </div><!-- col-sm-6 closed -->
            </div><!-- col-sm-12 closed -->
            <div class="col-sm-12 table-responsive" style="border-bottom: 1px solid #E6E9ED;">
                <!-- col-sm-12 started -->
                <h4 class="std_head well-sm"> Family Details</h4>

                <div class="col-sm-6 table-responsive" style="border-right: 1px solid #eee;">
                    <!-- col-sm-6 started -->
                    <h5 style="color: #1ABB9C;">Father's Details </h5>
                    <table class="table table-bordered">
                        <tr>
                            <td class="full_h">Father’s Name </td>
                            <td class="full_d">Ramarao dhaggupati</td>
                        </tr>
                        <tr>
                            <td class="full_h">Qualifications   </td>
                            <td class="full_d">Msc</td>
                        </tr>
                        <tr>
                            <td class="full_h">Occupation  </td>
                            <td class="full_d">Teacher</td>
                        </tr>
                        <tr>
                            <td class="full_h">Organization  </td>
                            <td class="full_d">Government</td>
                        </tr>
                        <tr>
                            <td class="full_h">Phone </td>
                            <td class="full_d">94867545**</td>
                        </tr>
                        <tr>
                            <td class="full_h">Email  </td>
                            <td class="full_d">ramarao23456@gmail.com</td>
                        </tr>
                        <tr>
                            <td class="full_h">Annual Income  </td>
                            <td class="full_d">3,60,000 /-</td>
                        </tr>
                    </table>
                </div><!-- col-sm-6 closed -->
                <div class="col-sm-6 table-responsive">
                    <!-- col-sm-6 started -->
                    <h5 style="color: #1ABB9C;">Mother's Details </h5>
                    <table class="table table-bordered">
                        <tr>
                            <td class="full_h">Mother’s Name </td>
                            <td class="full_d">kirani dhaggupati</td>
                        </tr>
                        <tr>
                            <td class="full_h">Qualifications   </td>
                            <td class="full_d">Msc</td>
                        </tr>
                        <tr>
                            <td class="full_h">Occupation  </td>
                            <td class="full_d">Teacher</td>
                        </tr>
                        <tr>
                            <td class="full_h">Organization  </td>
                            <td class="full_d">Government</td>
                        </tr>
                        <tr>
                            <td class="full_h">Phone </td>
                            <td class="full_d">94867585**</td>
                        </tr>
                        <tr>
                            <td class="full_h">Email  </td>
                            <td class="full_d">kirani23456@gmail.com</td>
                        </tr>
                        <tr>
                            <td class="full_h">Annual Income  </td>
                            <td class="full_d">4,60,000 /-</td>
                        </tr>
                    </table>
                </div><!-- col-sm-6 closed -->
            </div><!-- col-sm-12 closed -->
            <div class="col-sm-12 table-responsive" style="border-bottom: 1px solid #E6E9ED;">
                <!-- col-sm-12 started -->
                <h4 class="std_head well-sm">Address</h4>
                <div class="col-sm-6">
                    <!-- col-sm-6 started -->
                    <table class="table table-bordered">
                        <tr>
                            <td class="full_h">Residential Address </td>
                            <td class="full_d">
                                Jagannadhapuram (vill),polaki (md & post),
                                yelahanka,Bnagalore,pin-560046
                            </td>
                        </tr>
                    </table>
                </div><!-- col-sm-6 closed -->
                <div class="col-sm-6">
                    <!-- col-sm-6 started -->
                    <table class="table table-bordered">
                        <tr>
                            <td class="full_h">Permanent Address  </td>
                            <td class="full_d">
                                Jagannadhapuram (vill),polaki (md & post),
                                yelahanka,Bnagalore,pin-560046
                            </td>
                        </tr>
                    </table>
                </div><!-- col-sm-6 closed -->
            </div><!-- col-sm-12 closed -->
            <div class="col-sm-12 table-responsive" style="border-bottom: 1px solid #E6E9ED;">
                <!-- col-sm-12 started -->
                <h4 class="std_head well-sm"> Guardian’s Details</h4>
                <div class="col-sm-6">
                    <!-- col-sm-6 started -->

                    <table class="table table-bordered">
                        <tr>
                            <td class="full_h">Guardian’s Name </td>
                            <td class="full_d">Kanakambar dhaggupati</td>
                        </tr>
                        <tr>
                            <td class="full_h">Qualifications   </td>
                            <td class="full_d">Msc</td>
                        </tr>
                        <tr>
                            <td class="full_h">Occupation  </td>
                            <td class="full_d">Teacher</td>
                        </tr>
                        <tr>
                            <td class="full_h">Organization  </td>
                            <td class="full_d">Government</td>
                        </tr>
                        <tr>
                            <td class="full_h">Phone </td>
                            <td class="full_d">99867585**</td>
                        </tr>
                    </table>

                </div><!-- col-sm-6 closed -->
                <div class="col-sm-6">
                    <!-- col-sm-6 started -->
                    <table class="table table-bordered">
                        <tr>
                            <td class="full_h">Email  </td>
                            <td class="full_d">kanakambar23456@gmail.com</td>
                        </tr>
                        <tr>
                            <td class="full_h">Annual Income  </td>
                            <td class="full_d">4,60,000 /-</td>
                        </tr>
                        <tr>
                            <td class="full_h">Residential Address </td>
                            <td class="full_d">
                                Jagannadhapuram (vill),polaki (md & post),
                                yelahanka,Bnagalore,pin-560046
                            </td>
                        </tr>
                        <tr>
                            <td class="full_h">Permanent Address  </td>
                            <td class="full_d">
                                Jagannadhapuram (vill),polaki (md & post),
                                yelahanka,Bnagalore,pin-560046
                            </td>
                        </tr>
                    </table>
                </div><!-- col-sm-6 closed -->
            </div><!-- col-sm-12 closed -->
            <div class="col-sm-12 table-responsive" style="border-bottom: 1px solid #E6E9ED;">
                <!-- col-sm-12 started -->
                <div class="col-sm-6 table-responsive">
                    <!-- col-sm-6 started -->
                    <h5 style="color: #1ABB9C;">Additional information</h5>
                    <table class="table table-bordered">
                        <tr>
                            <td class="full_h">Distance from School (in Kms)</td>
                            <td class="full_d"> 5 kms</td>
                        </tr>
                        <tr>
                            <td class="full_h">Transport Facility: Yes / No </td>
                            <td class="full_d"> Yes</td>
                        </tr>
                    </table>
                    <h5 style="color: #1ABB9C;">For office use only</h5>
                    <table class="table table-bordered">
                        <tr>
                            <td class="full_h">Remarks</td>
                            <td class="full_d">NO</td>
                        </tr>
                        <tr>
                            <td class="full_h">grade </td>
                            <td class="full_d"> B</td>
                        </tr>
                    </table>
                </div><!-- col-sm-6 closed -->
                <div class="col-sm-6 table-responsive">
                    <!-- col-sm-6 started -->
                    <h5 style="color: #1ABB9C;">Documents Enclosed </h5>
                    <table class="table table-bordered">
                        <tr>
                            <td class="full_h">Birth certificate (photo copy)</td>
                            <td class="full_d"><a href="images/birthcertificate.jpg" target="_blank">Attached</a></td>
                        </tr>
                        <tr>
                            <td class="full_h">Three passport size photographs </td>
                            <td class="full_d"><a href="images/1.jpg" target="_blank">Attached</a></td>
                        </tr>
                        <tr>
                            <td class="full_h">Progress Report (photo copy)</td>
                            <td class="full_d"><a href="images/progress.png" target="_blank">Attached</a></td>
                        </tr>
                        <tr>
                            <td class="full_h">Migration Certificate (original)</td>
                            <td class="full_d"><a href="images/TechMigration.jpg" target="_blank">Attached</a></td>
                        </tr>
                    </table>
                </div><!-- col-sm-6 closed -->
            </div><!-- col-sm-12 closed -->
            <div class="col-sm-12 table-responsive" style="border-bottom: 1px solid #E6E9ED;">
                <!-- col-sm-12 started -->
                <h4 class="std_head well-sm"> Past Schooling Record</h4>
                <div class="col-sm-6 table-responsive">
                    <!-- col-sm-6 started -->
                    <br /><br />

                    <table class="table table-bordered">
                        <tr>
                            <td class="full_h">Name of school last attended</td>
                            <td class="full_d">AVK SCHOOL</td>
                        </tr>
                        <tr>
                            <td class="full_h">Class Passed </td>
                            <td class="full_d"> 9th</td>
                        </tr>
                        <tr>
                            <td class="full_h">Reason for leaving</td>
                            <td class="full_d"> Travelling Problem</td>
                        </tr>
                    </table>
                </div><!-- col-sm-6 closed -->
                <div class="col-sm-6 table-responsive">
                    <!-- col-sm-6 started -->
                    <table class="table table-bordered">
                        <h5 style="color: #1ABB9C;">Transfer documents attached :</h5>
                        <tr>
                            <td class="full_h">TC</td>
                            <td class="full_d"><a href="images/Transfer_Certificate.jpg" target="_blank">Attached</a></td>
                        </tr>
                        <tr>
                            <td class="full_h">Marks Card</td>
                            <td class="full_d"><a href="images/mc.jpg" target="_blank">Attached</a></td>
                        </tr>
                        <tr>
                            <td class="full_h">Character / Conduct Certificate</td>
                            <td class="full_d"><a href="images/character-fertificate.jpg" target="_blank">Attached</a></td>
                        </tr>
                    </table>
                </div><!-- col-sm-6 closed -->
            </div><!-- col-sm-12 closed -->
        </div><!-- col-msx-12  closed -->
    </div><!-- 1st row closed -->
</div>  <!-- /page content -->
